/* MAIN SELECTORS */
:root {
 --gray: #393e42;
 --dark-gray: #323637;
 --yellow: #b8a23f;
}

* {
 margin: 0;
 font-family: Questrial, sans-serif;
 box-sizing: border-box;
 color: white;
}

body {
 background-color: var(--gray);

}

ul {
 list-style-type: none;
 padding-inline-start: 0px;
}



/* HEADER SELECTORS */

header {
 display: flex;
 justify-content: space-between;
 width: 80%;
 margin: 50px auto 0;
 align-items: center;
}

h1 {
 text-transform: uppercase;
 font-size: 3.3em;
 font-weight: normal;
}

.nav-container {
 display: flex;
 justify-content: center;
 gap: 5px;

}

.nav-container-items {
  background-color: var(--dark-gray);
  text-align: center;
  padding: 15px 30px;
}

.nav-container-items a {
 text-decoration: none;
 color: inherit;
}

.nav-container-items a:hover  {
 color: var(--yellow);

}

.nav-container-items > p {
  text-transform: uppercase;
  margin-top: 5px;
}

.yellow {
 color: var(--yellow);

}


/* GRID CONTAINER SELECTORS */

.grid-container {
 display: grid;
 padding: 50px;
 grid-template-columns: repeat(10, 70px);
 grid-template-rows: repeat(8, 70px);
 justify-content: center;
 gap: 5px;
 
 
}

.grid-container-item {
 overflow: hidden;
 background-color: white;
 border: 1px solid black;
 clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.first, .second, .third, .fourth, .fifth, .seventh, .eighth, .ninth, .tenth, .eleventh, .twelvth, .thirteenth, .fourteenth, .sixteenth, .seventeenth, .eighteenth {
 grid-area: span 2/ span 2;
}

.sixth, .fifteenth {
 grid-column: 2 / span 2;
 grid-row: span 2;
}

.positioned {
 position: relative;
 top: -35px;
}


/* FOOTER SELECTORS */

footer {
  background-color: var(--dark-gray);
  height: 100px;
}